[submodule "tori/accounts-qt"]
	path = tori/accounts-qt
	url = https://code.google.com/p/accounts-sso.libaccounts-qt/
[submodule "tori/kqoauth"]
	path = tori/kqoauth
	url = git://gitorious.org/kqoauth/kqoauth.git
[submodule "tori/signon"]
	path = tori/signon
	url = https://code.google.com/p/accounts-sso.signond/
[submodule "tori/signon-oauth2"]
	path = tori/signon-oauth2
	url = https://code.google.com/p/accounts-sso.signon-plugin-oauth2/
